
.welcome{
  font-size: 46px;
  /* position: relative; */
  text-align: center;
  color: #fff;
}
form{
  width:100%;
}
.welcomescreen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input{
  padding:10px;
}

.message{
  color:beige;
}
